.react-flow__attribution {
  display: none;
}

.react-flow__handle.connectingto {
  background: #ff6060;
}

.react-flow__handle.valid {
  background: #55dd99;
}
/* Menu Style Configuration */
#menu{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 3000;
  padding: 10px;
  background: rgb(255, 255, 255);
  min-width: 600px;
  border-radius: 5px;
}

#menu-bar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.menu-list{
  position: relative;
  cursor: pointer;
}

.menu-list:nth-child(2)::after {
  content: "⯆";
  position: absolute;
  margin-left: 10px;
}

.menu-list:nth-child(2) ul{
  position: absolute;
  border: solid rgba(0, 0, 0, 0.062) 0.1px;
  width: 250px;
  text-align: left;
  padding-left: 15px;
  list-style: none;
  background: rgb(255, 255, 255);
  display: none;
  border-radius: 13px;
}

.menu-list ul li:hover{
  background-color: rgb(240, 247, 247);
}

.menu-list:nth-child(2):hover > ul{
  display: block;
}

.menu-list:nth-child(3){
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu-list:nth-child(3)::after{
  content: "⯆";
  position: absolute;
  right: -20px;
}

.menu-list:nth-child(3) ul{
  list-style: none;
  position: absolute;
  transform: translateY(25px);
  width: 100px;
  padding-left: 15px;
  border-radius: 13px;
  background: white;
  display: none;
  border: solid rgba(0, 0, 0, 0.062) 0.1px;
}

.menu-list:nth-child(3):hover > ul{
  display: block;
}

/*Historic Table Style Configuration*/
#historic{
  position: absolute;
  z-index: 3000;
  top: 15px;
  right: 300px;
  border: solid rgba(0, 0, 0, 0.137) 0.1px;
  border-radius: 10px;
  width: 450px;
  background: white;
  text-align: center;
}

#historic h3{
  font-weight: 600;
  letter-spacing: 0.7px;
  padding-bottom: 15px;
  padding-top: 10px;
}

#historic table{
  width: 100%;
  border-collapse: collapse;
}

/*User Grade Style Configuration*/
#userGrades{
  position: absolute;
  z-index: 3000;
  bottom: 15px;
  right: 15px;
  border: solid rgba(0, 0, 0, 0.137) 0.1px;
  border-radius: 5px;
  width: 1130px;
  background: white;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  opacity: 0.5;
  cursor: pointer;
}

#userGrades:hover{
  opacity: 1;
}

#userGradesList{
  list-style: none;
  display: flex;
  gap: 30px;
}

.userInfo:nth-child(1){
  position: absolute;
  width: 340px;
  left: 10px;
}

#btn-initializing{
  position: absolute;
  border: solid rgba(0, 0, 0, 0.3) 0.1px;
  border-radius: 7px;
  width: 250px;
  display: flex;
  justify-content: space-around;
  bottom: 50px;
}

#btn-initializing button:active{
  color: #55dd99;
}

/* Component Info Style Configuration */
.component:nth-child(1){
  display: flex;
  align-items: center;
}

.component:nth-child(2) h3 + ul{
  position: relative;
  left: 218px;
}

.component:nth-child(1) h3 + div{
  font-weight: 600;
  position: absolute;
  right: 140px;
}

#ComponentDetail{
  position: absolute;
  z-index: 3000;
  border: solid rgba(0, 0, 0, 0.137) 0.1px;
  border-radius: 10px;
  width: 100%;
  background: white;
  padding: 15px;
}

#componentEdges ul{
  list-style: none;
  padding-left: 0px;
}

/* Panel Style Configuration */
#Panel h2{
  position: absolute;
  top: 40px;
  right: 40px;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding-bottom: 15px;
  font-size: 24px;
  letter-spacing: 2px;
  color:#afca0b;
}

/* Panel Subject */
#panel-subject{
  position: absolute;
  left: 15px;
  top: 100px;
  border: solid 0.1px black;
  margin-left: 15px;
  border-radius: 10px;
  width: 220px;
  height: 500px;
  z-index: 2000;
  background: white;
}

#panel-subject h2{
  text-align: center;
  margin-top: 10px;
}

#Circuit-Image{
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border: solid black 0.1px;
  border-radius: 10px;
  height: 78%;
  display: flex;
  justify-content: center;
}

#image-scroll-pannel{
  position: absolute;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
}

#image-scroll-pannel ul{
  display: flex;
  width: 200px;
  justify-content: space-around;
}

#image-scroll-pannel li{
  list-style: none;
  border: solid rgba(136, 136, 136, 0.384) 0.1px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#image-scroll-pannel li:hover{
  background: #AFCA0B;
}

#image-scroll-pannel li:active{
  background: #b0ca0b4d;
}

.react-flow__edges{
  z-index: 5000 !important;
}

#Certificat-form{
  position: absolute;
  top: 0;
  right: -430px;
  width: 420px;
  height: 400px;
  background:#fffcfc;
  border-radius: 10px;
  box-shadow: #000000 1px 1px 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#Certificat-form div{
  display: flex;
  gap: 20px;
  padding: 5px;
}

#Certificat-form img{ 
  width: 100px;
}

#Certificat-form h3{
  align-content: center;
  font-size: 45px;
  letter-spacing: 3px;
  color: #004087;
  font-weight: 500;
}

#Certificat-form form{
  height: 200px;
}

#Certificat-form p{
  border: #004087 solid 2px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: #AFCA0B;
  font-weight: 500;
}

#Certificat-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#Certificat-form form ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  margin:15px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#Certificat-form form ul li{
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

#Certificat-form form input{
  border: solid 0.1px black;
  border-radius: 5px;
  margin-left: 15px;
  padding-left: 10px;
}

#Certificat-form form label{
  font-weight: 500;
}

#Certificat-form form button{
  position: absolute;
  bottom: 20px;
  right: 15px;
  border-radius: 5px;
  width: 85px;
  height: 35px;
  background: #AFCA0B;
  font-weight: 500;
}

#Certificat-form form button:active{
  background: #c6d204;
}

/* Authentication Interface */
#auth{
  position: absolute;
  background: #232887;
  top: 100px;
  left: 40%;
  border-radius: 15px;
  min-width: 450px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#logo-actemium{
  height: 75px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#logo-actemium div{
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 15px;
}

#logo-actemium img{
  height: 80%;
}

#logo-actemium h2{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-size: 32px;
}

#user-auth{
  height: 200px;
  display: flex;
  justify-content: center;
}

#user-auth div{
  border: #39AF0D solid 0.1px;
  border-radius: 5px;
  width: 98%;
  padding-top: 35px;
}

#user-auth-field{
  margin: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

#user-auth-field li{
  display: flex;
  flex-direction: end;
  height: 35px;
}

#user-auth-field li label{
  width: 30%;
  padding-right: 10px;
  display: flex;
  justify-content: end;
  align-items:center;
  color: white;
  font-size: 18px;
}

#user-auth-field li input{
  width: 65%;
  border-radius: 7px;
  display: flex;
  justify-content: end;
  align-items:center;
  padding: 5px;
}


#submit{
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 15px;
}

.btn-submit{
  background: #39AF0D;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  font-size: 18px;
  color: white;
}

.btn-submit:active{
  background: #237406;
}

/*Certification*/
#Certification-Card{
  /* 
  background-position: left;
  background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background: rgb(15, 158, 214); */
  width: 100vw;
  height: 100vh;
}

#Certification-menu{
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

#Certification-menu ul:first-child{
  font-size: 18px;
}

#Certification-menu ul{
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  width: 220px;
  cursor: pointer;
}

#Certification-menu ul li{
  align-content: center;
  width: 25px;
  height: 25px;
}

#Certification-background{
  position: relative;
  min-width: 850px;
  min-height: 700px;
  height: 90vh;
}

#Certification-background img{
  height: 100%;
  position: absolute;
}

#Certification-image{
  background: linear-gradient(to left, #fdfdfd 38%, rgba(255, 255, 255, 0.027) 50%);
  /* background-image: url("./images/Certification.png"); */
  background-position: left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

#Certification-content{
  height: 100%;
  width: 38%;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 10px;
}

.content{
  height: 25%;
}

.content:first-child{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.about:first-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.about:first-child ul{
  list-style: none !important;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 25px;
  font-weight: 600;
  color: #000000;
}

.about:first-child ul li{
  display: flex;
  justify-content: end;
}

.about:first-child ul li input{
  margin-left: 25px;
  margin-right: 5px;
  width: 300px;
  background: transparent;
  font-weight: 100;
  letter-spacing: 2px;
}

.about:nth-child(2){
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.about span{
  font-size: 100px;
  padding: 0px !important;
  height: 100px;
  align-content: start;
  display: flex;
  position: relative;
  top: -20px;
  color: #004087;
  font-weight: 600;
  text-shadow: #000000 3px 3px 5px;
}

.about:nth-child(2) p{
  color: rgb(2, 2, 2);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  text-align: center;
  height: 50px;
  width: 200px;
}

.content:nth-child(2){
  border: solid #39AF0D 0.5px;
  margin: 10px;
  padding: 25px;
  border-radius: 10px;
  font-size: 23px;
  text-indent: 35px;
  text-align: justify;
  line-height: 1.8;
}

.content:nth-child(3){
  padding: 20px;
  display: flex;
  justify-content: space-around;
  color: #AFCA0B;
  font-size: 23px !important;
}

.content:nth-child(3) .User-Result{
  padding: 2px;
}

.content:nth-child(3) .User-Result:first-child{
  width: 500px;
}

.content:nth-child(3) .User-Result:first-child ul{
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content:nth-child(3) .User-Result:first-child ul li{
  display: flex;
  justify-content: end;
}

.content:nth-child(3) .User-Result:first-child ul li label{
  text-align: end;
  padding-right: 15px;
  width: 90%;
}

.content:nth-child(3) .User-Result:first-child ul li input{
  width: 30%;
}

.content:nth-child(3) .User-Result:last-child{
  display: flex;
  justify-content: center;
}

.content:nth-child(3) .User-Result:last-child label{
  width: 80%;
  height: 30px;
  align-content: center;
}
.content:nth-child(3) .User-Result:last-child input{
  width: 30%;
  height: 30px;
}

#About-application{
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  align-content: center;
  position: absolute;
  bottom: 20px;
  right: 10px;
  text-align: end;
}

#About-application label{
  margin-right: 15px;
}
#About-application input{
  width: 80px;
}

/*Alert Pannel*/

#stop-interaction{
  position: absolute;
  border: solid black 0.1px;
  height: 100vh;
  width: 100vw;
  background: rgba(94, 93, 93, 0.295);
  z-index: 3000;
}

#alert-pannel{
  position: absolute;
  left: 40%;
  top:0;
  z-index: 1001;
  border: solid black 0.1px;
  height: 140px;
  background: #2e2e2e;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: #000000 1px 2px 7px;
  transition: 1s;
}

#alert-pannel h3{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 3px;
  color: rgb(209, 6, 6);
}

#alert-pannel div{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

#alert-pannel p{
  font-size: 20px;
}

#alert-pannel button{
  background: #004087;
  padding:5px;
  border-radius: 7px;
}